{
  "env": {
    "prod": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
